# rename this file to .env and add the proper value

TWILIO_ACCOUNT_SID = ''
TWILIO_API_KEY = ''
TWILIO_API_SECRET = ''
CALLER_ID = '+' # the phone number you purchased in twillo
TWILIO_AUTH_TOKEN = ''
TWIML_APP_SID = ''
TRANSCRIPTION_WEBSOCKET_URL = "wss://websocket-server.in.ngrok.io"
NAME = ""
DEEPGRAM_API_KEY = ''  # Your Deepgram API key

